<% @jobs.each do |job| %>
  <p><%= link_to job.name, "#" %></p>
<% end %>

<% if current_user %>
	<p><%= link_to 'Add a Job', user_jobs_new_path(current_user), class:'btn btn-default' %></p>
<% end %>
