<%= render 'shared/nav' %>

<div class="container-fluid students-container">
	<div class="row">
		<div class="col-sm-3">
			<h2 class="name">WDI Students</h2>
		</div>
		
		<% @users.each do |user| %>
		  <div class="col-sm-3">
        <div class="student-image-container">
          <%= image_for_user(user, class: 'student-image') %>
        </div>
        <div class="place"><h3 class="name"><%= link_to "#{user.given_name} #{user.family_name}", user_path(user) %></h3>
			    <p class="title"><%= user.tagline %></p>
			  </div>
		  </div>
		<% end %>

	</div>
</div>