<%= render 'shared/nav' %>

<div class="container-fluid students-container">
	<div class="row">
		<div class="col-sm-3">
			<h2 class="name">WDI Students</h2>
		</div>
		<% @users.each do |user| %>
		<div id="student" class="col-sm-3 student-image">
			<%= image_for_user(user) %>
			<div class="place"><h3 class="name"><%= user.name %></h3>
			<p class="title"><%= user.tagline %></p>
			</div>
		</div>
		<% end %>
<!-- 
		<div id="student-nick" class="col-sm-3 student-image">
			<div class="place"><h3 class="name">Nick Morgan</h3>
			<p class="title">Brocolli Enthusiast</p>
			</div>
		</div>
		<div id="student-ed" class="col-sm-3 student-image">
			<h3 class="name">Eduard Fastovski</h3>
			<p class="title">Front-end Developer</p>
		</div>
		<div id="student-lauren" class="col-sm-3 student-image">
			<h3 class="name">Lauren Krueger</h3>
			<p class="title"></p>
		</div>
		<div id="student-emily" class="col-sm-3 student-image">
			<h3 class="name">Emily McCartney</h3>
			<p class="title"></p>
		</div>
		<div id="student-marcus" class="col-sm-3 student-image">
			<h3 class="name">Marcus Hoile</h3>
			<p class="title"></p>
		</div>
		<div id="student-lukem" class="col-sm-3 student-image">
			<h3 class="name">Luke Mesiti</h3>
			<p class="title"></p>
		</div>
		<div id="student-alberto" class="col-sm-3 student-image">
			<h3 class="name">Alberto Forni</h3>
			<p class="title"></p>
		</div>
		<div id="student-fede" class="col-sm-3 student-image">
			<h3 class="name">Federico Tagliabue</h3>
			<p class="title"></p>
		</div>
		<div id="student-pranava" class="col-sm-3 student-image">
			<h3 class="name">Pranava Swaroop</h3>
			<p class="title"></p>
		</div>
		<div id="student-sam" class="col-sm-3 student-image">
			<h3 class="name">Sam Peters</h3>
			<p class="title"></p>
		</div>
		<div id="student-lukes" class="col-sm-3 student-image">
			<h3 class="name">Luke Schoen</h3>
			<p class="title"></p>
		</div> -->
	</div>
</div>