<h1>What are we blogging about?</h1>
<p>The latest posts from our students</p>


<% @feed_items.each do |item| %>
    <h4>Most recent post by <%= item[:dc_creator] %> on <%= item[:pubDate].strftime("%b %d %Y %I:%m%p") %></h4>
    <h5><%= raw item[:title] %></h5>
    <p><%= raw item[:description] %></p>
<% end %>