<h1>What are we blogging about?</h1>
<p>Posts below</p>


<% @feed_items.each do |item| %>
    <h4><%= raw item[:title] %> by <%= item[:dc_creator] %></h4>
    <p><%= raw item[:description] %></p>
<% end %>