<% @posts.each do |post| %>
  <div class="post_title">
    <%=link_to 'post.title', posts_path(post) %>
  </div>
  <div class="post_subtitle">
    <%= post.subtitle %>
    <p>
      <%= post.created_at %>
    </p>
  </div>
<% end %>


<!-- posts, projects and header etc, sign in link -->