<h1><%= @project.name %></h1>

<% if @project.members.include? current_user %>
  <%= link_to "Edit", edit_project_path(@project) %>
<% end %>

<h4>members</h4>
<% @project.members.each do |member| %>
  <p><%= member.email %></p>
<% end %>

<%= link_to "back", projects_path  %>