<div id="posthead">
  <h1 class="posttitle"><%= "#{@post.title}" %></h1>
  <h2 class="subtitle"><%= @post.subtitle %></h2>
  <p class="author">Post author goes here</p>
</div>

<div id="postbody">
  <%= @post.body %>
</div>

<div id="postfooter">
  <h4 class="written">Written By</h4>
  <h3 class="authorname">Author name</h3>
  <p class="authorbio">Bio goes here.</p>
</div>