<div id="viewpost">

  <div class="post_title"><%= "#{@post.title}" %></div>
  <div class="post_subtitle"><%= @post.subtitle %></div>

  <div id="postbody">
    <%= @post.body %>

    <p class="createdat"><%= @post.created_at %></p>
  </div>


</div>

