

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 /*
 *= require font-awesome
 */

html, body {
	width: 100%;
	height: 100%;
	margin-top: 0;
	padding: 0;
}


footer {
	background-color: #2ecc71;
	position: relative;
	bottom: 0;
	width: 100%;
	clear:both;
	text-align: center;
}


.login {
	float: right;
	margin-top: 3px;
	margin-right: 40px;

	ul.sub-menu {
    display: none;
		position: absolute;
		float: right;
		width: 180px;
		right:40px;
		text-align: right;
		li{
			border-bottom:1px solid #000;	
			padding:3px;
			padding-top:16px;
			font-size: 14px;
		}
	}
		
}


.notices {
	float: right;
	margin-right: 70px;
	margin-top: 3px;
	p {
		margin: 0;
		padding: 0;
        margin-top: 3px;
	}
}


.clearfix {
	height: 1px;
}

.page-content{
	width:50%;
	margin:0 auto;
	padding-bottom: 80px;
}



@mixin stickyFooter($footerHeight, $wrapSelector, $footerSelector) {
  html, body {
    height: 100%;
  }

  #{$wrapSelector} {
    min-height: 100%; /* equal to footer height */
    margin-bottom: -$footerHeight;
    &:after {
      content: "";
      display: block;
    }
  }

  #{$footerSelector}, #{$wrapSelector}:after {
    /* .push must be the same height as footer */
    height: $footerHeight;
    padding-top: 10px;
  }
}



@include stickyFooter(80px, '#wrap', 'footer');

@media (max-width: 530px) {
	
	.login {
		float: left;
		margin-left: 10px;
		color: red;
	}
	
}

