// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-page {
  width:90%;
  margin: 0 auto;
  padding-bottom: 110px;
}

.studentinfo {
  padding-top: 20px;
}

.studentinfo-title {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-align: left;
  text-transform: capitalize;
}

.studentinfo h3 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 150%;
  padding: 0;
  margin: 0;
}

.studentinfo p {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: justify;
}

.studentinfo a {
  color: #000000;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: .25em;
}
.studentinfo a:visited {
  color: #000000;
}
.studentinfo a:hover {
  color: #339AB4;
}
.studentinfo a:active {
  color: #CCC;
}

.projects {
  padding-top: 25px;
}

.grid-image {
  width: 100%;
}